<a href="https://colab.research.google.com/github/alessiocozzi/Montreal-biking-data-EDA/blob/master/Montreal_biking_data_EDA_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
url = ("https://raw.githubusercontent.com/"
       "ipython-books/cookbook-2nd-data/"
       "master/bikes.csv")

In [0]:
df = pd.read_csv(url, index_col='Date',
                 parse_dates=True, dayfirst=True)

In [4]:
df.head(5)

           Unnamed: 1  Berri1  CSC  ...  PierDup  Rachel1  Totem_Laurier
Date                                ...
2013-01-01      00:00       0    0  ...        0        1              0
2013-01-02      00:00      69    0  ...        0        2              0
2013-01-03      00:00      69    2  ...        1        0              0
2013-01-04      00:00      80    0  ...        0      125              0
2013-01-05      00:00      52    4  ...        0       97              0

[5 rows x 9 columns]

In [6]:
df.describe().T

               count         mean          std  ...     50%     75%     max
Berri1         261.0  2743.390805  2247.957848  ...  2771.0  4767.0  6803.0
CSC            261.0  1221.858238  1070.037364  ...  1184.0  2168.0  3330.0
Mais1          261.0  1757.590038  1458.793882  ...  1706.0  3158.0  4716.0
Mais2          261.0  3224.130268  2589.514354  ...  3178.0  5812.0  7684.0
Parc           261.0  1669.425287  1363.738862  ...  1584.0  3068.0  4103.0
PierDup        261.0  1152.885057  1208.848429  ...   818.0  2104.0  4841.0
Rachel1        261.0  3084.425287  2380.255540  ...  3111.0  5338.0  8555.0
Totem_Laurier  261.0  1858.793103  1434.899574  ...  2087.0  3168.0  4293.0

[8 rows x 8 columns]