<a href="https://colab.research.google.com/github/alessiocozzi/Montreal-biking-data-EDA/blob/master/Montreal_biking_data_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
url = ("https://raw.githubusercontent.com/"
       "ipython-books/cookbook-2nd-data/"
       "master/bikes.csv")

In [0]:
df = pd.read_csv(url, index_col='Date',
                 parse_dates=True, dayfirst=True)

In [4]:
dfdf.head()

           Unnamed: 1  Berri1  CSC  ...  PierDup  Rachel1  Totem_Laurier
Date                                ...
2013-01-01      00:00       0    0  ...        0        1              0
2013-01-02      00:00      69    0  ...        0        2              0
2013-01-03      00:00      69    2  ...        1        0              0
2013-01-04      00:00      80    0  ...        0      125              0
2013-01-05      00:00      52    4  ...        0       97              0

[5 rows x 9 columns]